/* .detail {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 1em;
    margin-top: -1rem;
    margin-bottom: -1rem;
    margin-left: -1rem;
    margin-right: -1rem;
} */